# Byte-compiled
__pycache__/

# Environment
.venv/

# Vim
*.sw*

# Linting
.mypy_cache/

# Build
build/
dist/

# Env
.env*
!.env.example

# Logs
app/logs/*
!app/logs/.gitkeep
!app/logs/res_*

# Mac
.DS_Store
