requests==2.32.3
types-requests==2.32.0.20241016

# GUI
PyQt5==5.15.11

# Color
colorama==0.4.6
types-colorama==0.4.15.12

# Linters
pylint==3.2.7
pycodestyle==2.11.1
mypy==1.11.2

# Misc.
pyclean==3.0.0
pre-commit==4.0.1
pyinstaller==6.11.0
python-dotenv==1.0.0
